<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Escolha a categoria</option>
          <option value="1">Categoria 1</option>
          <option value="2">Categoria 2</option>
          <option value="3">Categoria 3</option>
        </select>
        <label>Categoria</label>
      </div>
      
      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Escolha o tipo</option>
          <option value="1">Online</option>
          <option value="2">Presencial</option>
          <option value="3">Ambos</option>
        </select>
        <label>Tipo</label>
      </div>

    </div>

    <div class="row">

      <div class="input-field col s6">
        <input type="text" class="datepicker">
        <label>Data</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="timepicker">
        <label>Hora</label>
      </div>
    </div>

  </form>
</div>