<div class="card">
  <div class="card-header">
    <h5>Competências</h5>
  </div>
  <div class="card-content">

    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <ul>
      <li>
        <div class="chip">
          Música
          <i class="close material-icons">close</i>
        </div>
        <div class="chip">
          Informática<i class="close material-icons">close</i>
        </div>
        <div class="chip">
          Negócios<i class="close material-icons">close</i>
        </div>
      </li>
    </ul>
  </div>
</div>