<ul class="collection with-header">
  <li class="collection-header"><h4>Mentorias agendadas</h4></li>
  <li class="collection-item">
    <div>
      Mentoria 1
      {{#link-to 'dashboard.mentoring.scheduled.show' class="secondary-content"}}
        <i class="material-icons">send</i>
      {{/link-to}}
    </div>
  </li>
  <li class="collection-item"><div>Mentoria 2<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
  <li class="collection-item"><div>Mentoria 3<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
  <li class="collection-item"><div>Mentoria 4<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
</ul>