<div class="card-panel">
  <div class="row">
    <div class="col s12">
      {{watch-counter}}
    </div>
    <p class="col s6">
      <a class="waves-effect waves-light btn-large red left"><i class="material-icons right">clear</i>Parar</a>
    </p>
    <p class="col s6">
      <a class="waves-effect waves-light btn-large blue right"><i class="material-icons right">done</i>Iniciar</a>
    </p>
  </div>  
</div>

<div class="card-panel">
  <div class="row">
    <div class="col s6 center-align">
      <i class="material-icons icon-big green-text">account_box</i>
    </div>
    <div class="col s6 center-align">
      <i class="material-icons icon-big red-text">account_box</i>
    </div>
  </div>
</div>

{{chat-window}}