// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";
@import "profile";
@import "watch";

header, main, footer {
  padding-left: 250px;
}

.side-nav {
  width: 250px;
}

nav {
  height: 96px;
}

body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
}

main {
  flex: 1 0 auto;
}

main > .container {
  padding-top: 50px;
}

.menu {
  min-height: 200px;
}

.icon-big {
  font-size: 280px;
}

.wallet {
  margin-left: 100px;
  font-size: 64px;
}

.wallet > .card {
  padding-top: 10px;
  padding-left: 25px;
  height: 80px !important;
}


