<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle red">account_circle</i>
    <span class="title">Title</span>
    <p>Nome:</p>
    <p>
       Avaliação: <br>
       <i class="material-icons">grade</i><i class="material-icons">grade</i><i class="material-icons">grade</i>
    </p>
    <a href="#!" class="secondary-content">
      <i class="material-icons right green-text">done</i>
      <i class="material-icons right red-text">clear</i>
    </a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle red">account_circle</i>
    <span class="title">Title</span>
    <p>Nome:</p>
    <p>
       Avaliação: <br>
       <i class="material-icons">grade</i><i class="material-icons">grade</i><i class="material-icons">grade</i>
    </p>
    <a href="#!" class="secondary-content">
      <i class="material-icons right green-text">done</i>
      <i class="material-icons right red-text">clear</i>
    </a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle green">account_circle</i>
    <span class="title">Title</span>
    <p>Nome:</p>
    <p>
       Avaliação: <br>
       <i class="material-icons">grade</i><i class="material-icons">grade</i><i class="material-icons">grade</i>
    </p>
    <a href="#!" class="secondary-content">
      <i class="material-icons right green-text">done</i>
      <i class="material-icons right red-text">clear</i>
    </a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle red">account_circle</i>
    <span class="title">Title</span>
    <p>Nome:</p>
    <p>
       Avaliação: <br>
       <i class="material-icons">grade</i><i class="material-icons">grade</i><i class="material-icons">grade</i>
    </p>
    <a href="#!" class="secondary-content">
      <i class="material-icons right green-text">done</i>
      <i class="material-icons right red-text">clear</i>
    </a>
  </li>
</ul>