<div class="row">
  <div class="col s12">
    <div class="card-panel center-align">
      <h5>Informações</h5>
      <p>{{mentoring-form}}</p>
    </div>
  </div>
  <div class="col s12">
    <div class="card-panel">
      Usuário
    </div>
  </div>
</div>
{{chat-window}}
<a class="waves-effect waves-light btn-large right blue"><i class="material-icons right">done</i>Aceitar</a>
<a class="waves-effect waves-light btn-large left red"><i class="material-icons right">clear</i>Recusar</a>
